<img src="https://raw.githubusercontent.com/Rocketseat/bootcamp-gostack-desafio-03/master/.github/logo.png" /> <br />
<strong>Olá, {{ studentName }}</strong>
<p>Bem vindo a Gympoint Academy. Treine duro e nunca se esqueça</p>
<i>"O esforço é grande, mas a recompensa é maior ainda"</i>
<p>Confira abaixo os detalhes do seu plano:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Valor mensal: </strong> R$ {{ value }} <br />
  <strong>Data de início: </strong> {{ startDate }} <br />
  <strong>Data de fim: </strong> {{ endDate }} <br />
</p>